{% extends "base.html" %}
{% load static %}
{% block title %}Checkout Page{% endblock title %}
{% block content %}
  <body>
    <div class="container-fluid container-responsive">
      <div
        class="sidenav col-lg-3 col-sm-12 d-flex flex-column align-items-center justify-content-between"
      >
        <header class="d-flex flex-column align-items-center gap-2 w-100">
          <img
            src="./images/clipart2415024.png"
            alt="logo"
            class="logo img-fluid"
          />
          <div class="drop-menu bg-dark rounded-4 w-75 py-2 px-3 d-flex">
            <span class="side-nav-btn text-white curo" onclick="myFunction()">
              <i class="fa-solid fa-bars-staggered side-nav-btn"></i>
            </span>
            <ul id="myDropdown" class="dropdown-content pt-2 px-1">
              <li class="py-2">
                <a class="down-item text-white" href="#">درباره ما</a>
              </li>
              <li class="py-2">
                <a class="down-item text-white" href="#">سوالات متداول</a>
              </li>
              <li class="py-2">
                <a class="down-item text-white" href="#">قوانین و مقررات</a>
              </li>
              <li class="py-2">
                <a class="down-item text-white" href="#">تماس با ما</a>
              </li>
            </ul>
            <a
              class="text-white offcanva"
              data-bs-toggle="offcanvas"
              href="#offcanvasExample"
              role="button"
              aria-controls="offcanvasExample"
            >
              <i class="fa-solid fa-bars-staggered side-nav-btn"></i>
            </a>

            <div
              class="offcanvas offcanvas-end"
              tabindex="-1"
              id="offcanvasExample"
              aria-labelledby="offcanvasExampleLabel"
            >
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">منو</h5>
                <button
                  type="button"
                  class="btn-close text-reset"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <ul class="list-unstyled pt-2 px-1">
                  <li class="py-2 border-top border-bottom">
                    <a class="down-item text-dark" href="#">درباره ما</a>
                  </li>
                  <li class="py-2 border-top border-bottom">
                    <a class="down-item text-dark" href="#">سوالات متداول</a>
                  </li>
                  <li class="py-2 border-top border-bottom">
                    <a class="down-item text-dark" href="#">قوانین و مقررات</a>
                  </li>
                  <li class="py-2 border-top border-bottom">
                    <a class="down-item text-dark" href="#">تماس با ما</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-75">
            <div class="name-resturan text-center">
              <p>کافه و رستوران استارباکس</p>
            </div>
            <div
              class="online-ordianry d-flex flex-column align-items-center justify-content-center gap-1"
            >
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1086_24)">
                  <path
                    d="M4.5 18H6M18 4.5V6M30 18H31.5M8.4 8.4L9.45 9.45M27.6 8.4L26.55 9.45"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M16.6336 10.6245C17.8317 10.4022 19.0659 10.4752 20.2294 10.8371C21.393 11.1991 22.4508 11.8391 23.3114 12.7017C24.172 13.5644 24.8094 14.6238 25.1686 15.7882C25.5277 16.9526 25.5977 18.187 25.3726 19.3845M23.3056 23.301C23.054 23.5528 22.7848 23.7864 22.5001 24C21.9144 24.5797 21.4735 25.2892 21.2129 26.0709C20.9523 26.8527 20.8794 27.6848 21.0001 28.5C21.0001 29.2957 20.684 30.0587 20.1214 30.6213C19.5588 31.1839 18.7957 31.5 18.0001 31.5C17.2044 31.5 16.4414 31.1839 15.8788 30.6213C15.3162 30.0587 15.0001 29.2957 15.0001 28.5C15.1208 27.6848 15.0479 26.8527 14.7873 26.0709C14.5267 25.2892 14.0857 24.5797 13.5001 24C12.6391 23.3545 11.9272 22.5312 11.4126 21.5862C10.8979 20.6412 10.5927 19.5965 10.5176 18.523C10.4424 17.4496 10.5992 16.3725 10.9771 15.365C11.3551 14.3575 11.9455 13.4432 12.7081 12.684"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M14.55 25.5H21.45"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M4.5 4.5L31.5 31.5"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_1086_24">
                    <rect width="36" height="36" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
              <p class="status-order-accept">سفارش می پذیریم.</p>
            </div>
          </div>
        </header>
        <footer
          class="footer d-flex flex-column justify-content-center align-items-center gap-2"
        >
          <div
            class="addres-online border-top border-1 w-75 d-flex align-items-center justify-content-between"
          >
            <p>
              کرمان بلوار جمهوری اسلامی- کوچه رئوف 1 - برج ماهان - طبقه همکف -
              واحد 1290
            </p>
            <a
              target="_blank"
              href="https://map.ir/lat/30.269969334440393/lng/56.99398934802959/z/13/p/ما اینجاییم"
              >(مشاهده روی نقشه)</a
            >
          </div>
          <div
            class="content-footer d-flex justify-content-between align-items-center w-75"
          >
            <div
              class="icon-social d-flex flex-column align-items-center justify-content-center"
            >
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
              <a href="#"><i class="fa-brands fa-telegram"></i></a>
            </div>
            <div class="list-footer">
              <ul class="list-group-footer">
                <li class="list-group-item"><a href="#">درباره ما</a></li>
                <li class="list-group-item"><a href="#">درباره ما</a></li>
                <li class="list-group-item"><a href="#">درباره ما</a></li>
                <li class="list-group-item"><a href="#">درباره ما</a></li>
              </ul>
            </div>
            <div class="phone">
              <a href="tel:03432611100">
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  style="margin-top: 10px; margin-right: 10px"
                >
                  <g clip-path="url(#clip0_1933_401)">
                    <path
                      d="M5.41667 4.33334H9.75L11.9167 9.75001L9.20833 11.375C10.3685 13.7275 12.2725 15.6315 14.625 16.7917L16.25 14.0833L21.6667 16.25V20.5833C21.6667 21.158 21.4384 21.7091 21.0321 22.1154C20.6257 22.5217 20.0746 22.75 19.5 22.75C15.2742 22.4932 11.2885 20.6987 8.2949 17.7051C5.3013 14.7115 3.5068 10.7258 3.25 6.50001C3.25 5.92537 3.47827 5.37427 3.8846 4.96795C4.29093 4.56162 4.84203 4.33334 5.41667 4.33334"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M16.25 7.58334C16.8246 7.58334 17.3757 7.81162 17.7821 8.21795C18.1884 8.62427 18.4167 9.17537 18.4167 9.75001"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M16.25 3.25C17.9739 3.25 19.6272 3.93482 20.8462 5.15381C22.0652 6.37279 22.75 8.02609 22.75 9.75"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_1933_401">
                      <rect width="26" height="26" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                <svg
                  class="bg-line"
                  width="118"
                  height="53"
                  viewBox="0 0 118 53"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    opacity="0.1"
                    d="M1.19458 0.539307C1.19458 0.539307 16 32.5 45 45C74 57.5 117.195 49.5393 117.195 49.5393"
                    stroke="white"
                  ></path>
                </svg>
                <p>03432611100</p></a
              >
            </div>
          </div>
          <div class="copyrights border-top border-1 w-75 py-2">
            <span>© 2023 کدک رایان</span>
          </div>
        </footer>
      </div>
      <div class="main col-lg-9 col-sm-12 py-4">
        <h1 class="px-2 title-page">پرداخت</h1>
        <div class="checkout-coupon">
          <from
            class="field-checkout w-100 d-flex align-items-center justify-content-between"
            action=""
            method="post"
          >
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_392_173)">
                <path
                  d="M17.5 5.83325V8.16659"
                  stroke="#737373"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M17.5 12.8333V15.1666"
                  stroke="#737373"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M17.5 19.8333V22.1666"
                  stroke="#737373"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M5.83333 5.83325H22.1667C22.7855 5.83325 23.379 6.07908 23.8166 6.51667C24.2542 6.95425 24.5 7.54775 24.5 8.16659V11.6666C23.8812 11.6666 23.2877 11.9124 22.8501 12.35C22.4125 12.7876 22.1667 13.3811 22.1667 13.9999C22.1667 14.6188 22.4125 15.2122 22.8501 15.6498C23.2877 16.0874 23.8812 16.3333 24.5 16.3333V19.8333C24.5 20.4521 24.2542 21.0456 23.8166 21.4832C23.379 21.9208 22.7855 22.1666 22.1667 22.1666H5.83333C5.21449 22.1666 4.621 21.9208 4.18342 21.4832C3.74583 21.0456 3.5 20.4521 3.5 19.8333V16.3333C4.11884 16.3333 4.71233 16.0874 5.14992 15.6498C5.5875 15.2122 5.83333 14.6188 5.83333 13.9999C5.83333 13.3811 5.5875 12.7876 5.14992 12.35C4.71233 11.9124 4.11884 11.6666 3.5 11.6666V8.16659C3.5 7.54775 3.74583 6.95425 4.18342 6.51667C4.621 6.07908 5.21449 5.83325 5.83333 5.83325"
                  stroke="#737373"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_392_173">
                  <rect width="28" height="28" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <input
              type="text"
              name="coupon_code"
              class="input-coupon w-75"
              placeholder="افزودن کد تخفیف"
              id="coupon_code"
              value=""
            />
            <button
              type="submit"
              class="button btn-cupon-checkout"
              name="apply_coupon"
              value="اعمال کدتخفیف"
            >
              اعمال
            </button>
          </from>
        </div>
        <form>
          <div
            class="group-checkout-item d-flex flex-md-row justify-content-between gap-3 mt-4 flex-column"
          >
            <div class="checkout-right-section">
              <div class="delivary-box border-1 rounded-3 py-3 px-3">
                <h3 class="shipping-title my-3">
                  جزئیات سفارش خود را وارد کنید
                </h3>

                <div class="mb-3">
                  <label for="exampleInputnameandfamily" class="form-label"
                    >نام و نام خانوادگی</label
                  >
                  <input type="text" class="form-control" id="nameandfamily" />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >شماره تلفن</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputphone"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >شماره میز</label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>شماره میز خود را انتخاب کنید</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>

                <h3 class="shipping-title my-3">روش تحویل را انتخاب کنید</h3>
                <nav>
                  <div
                    class="nav nav-tabs d-flex justify-content-center gap-3"
                    id="nav-tab"
                    role="tablist"
                  >
                    <button
                      class="nav-link na-link-tab active d-flex flex-column justify-content-center align-items-center"
                      id="nav-home-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-home"
                      type="button"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                    >
                      <i class="fas fa-running"></i>
                      مراجعه حضوری
                    </button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div
                    class="tab-pane pt-3 fade show active"
                    id="nav-home"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab"
                  >
                    <iframe
                      width="100%"
                      height="200"
                      src="https://map.ir/lat/30.269969334440393/lng/56.99398934802959/z/13/p/ما اینجاییم"
                      style="border: unset; border-radius: 16px"
                    ></iframe>
                  </div>
                </div>
              </div>
              <div class="pay-box mt-3 border-1 rounded-3 py-3 px-3">
                <h3 class="shipping-title my-3">روش پرداخت را انتخاب کنید</h3>
                <ul
                  class="d-flex flex-column align-items-start justify-content-between p-0 gap-4"
                >
                  <li
                    class="d-flex align-items-center justify-content-between gap-2"
                  >
                    <input
                      id="payment_method_pec_gateway"
                      type="radio"
                      class="input-radio"
                      name="payment_method"
                      value="pec_gateway"
                      checked="checked"
                      data-order_button_text=""
                    />

                    <label for="payment_method_pec_gateway">
                      <span
                        class="d-flex align-items-center justify-content-between gap-2"
                      >
                        <img
                          decoding="async"
                          src="./images/Shetab.png"
                          alt=""
                        />
                        <div class="payment-method-desc">
                          درگاه اینترنتی پارسیان
                          <div class="payment_box payment_method_pec_gateway">
                            <p>قابل پرداخت با تمامی کارت های عضو شتاب</p>
                          </div>
                        </div>
                      </span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="checkout-left-section">
              <div class="order-review border-1 rounded-3 py-3 px-3">
                <div
                  class="order-item d-flex align-items-center justify-content-between py-3 border-bottom"
                >
                  <div class="order-name d-flex align-items-center gap-1">
                    سنت اونوره (1 عدد )
                  </div>
                  <div class="order-price">۹۰,۰۰۰ تومان</div>
                </div>
                <div
                  class="order-item d-flex align-items-center justify-content-between py-3 border-bottom"
                >
                  <div class="order-name d-flex align-items-center gap-1">
                    سنت اونوره (1 عدد )
                  </div>
                  <div class="order-price">۹۰,۰۰۰ تومان</div>
                </div>
                <div class="order-review-footer my-4">
                  <div
                    class="order-item d-flex align-items-center justify-content-between border-bottom py-2"
                  >
                    <div class="order-name d-flex align-items-center gap-1">
                      جمع غذاها (1 عدد )
                    </div>
                    <div class="order-price">۲۰۰,۰۰۰ تومان</div>
                  </div>
                  <div
                    class="order-item d-flex align-items-center justify-content-between border-bottom py-2"
                  >
                    <div class="order-name d-flex align-items-center gap-1">
                      مجموع
                    </div>
                    <div class="order-price">۲۰۰,۰۰۰ تومان</div>
                  </div>
                  <div class="my-3">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >توضیحات</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      placeholder="توضیحات خاصی برای آماده‌سازی و ارسال سفارش مد نظرتان است؟ اینجا بنویسید."
                    ></textarea>
                  </div>
                </div>
                <button class="btn btn-checkout w-100 py-3 px-3">پرداخت</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="toolbar col-12">
        <div class="ryn-toolbar">
          <a href="https://bobofood.ir/">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_3004_971)">
                <path
                  d="M5 12H3L12 3L21 12H19"
                  stroke="#071117"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M5 12V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V12"
                  stroke="#071117"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M9 21V15C9 14.4696 9.21071 13.9609 9.58579 13.5858C9.96086 13.2107 10.4696 13 11 13H13C13.5304 13 14.0391 13.2107 14.4142 13.5858C14.7893 13.9609 15 14.4696 15 15V21"
                  stroke="#071117"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_3004_971">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <span>صفحه نخست</span>
          </a>

          <a href="https://bobofood.ir/my-account/">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_3009_985)">
                <path
                  d="M9 7H15M9 11H15M13 15H15M5 21V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H17C17.5304 3 18.0391 3.21071 18.4142 3.58579C18.7893 3.96086 19 4.46957 19 5V21L16 19L14 21L12 19L10 21L8 19L5 21Z"
                  stroke="#071117"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_3009_985">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <span>سفارشات من</span>
          </a>

          <div class="toolbar-bg">
            <svg
              width="390"
              height="64"
              viewBox="0 0 390 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M390 64V0H323.801C280.081 0 238.72 36 195 36C151.28 36 109.919 0 66.1994 0H0V64H390Z"
                fill="white"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="footer-buttom col-12">
        <footer
          class="d-footer-buttom d-flex flex-column justify-content-center align-items-center gap-2"
        >
          <div
            class="addres-online border-top border-1 w-75 d-flex align-items-center justify-content-between"
          >
            <p>
              کرمان بلوار جمهوری اسلامی- کوچه رئوف 1 - برج ماهان - طبقه همکف -
              واحد 1290
            </p>
            <a
              target="_blank"
              href="https://map.ir/lat/30.269969334440393/lng/56.99398934802959/z/13/p/ما اینجاییم"
              >(مشاهده روی نقشه)</a
            >
          </div>
          <div
            class="content-footer d-flex justify-content-between align-items-center w-75"
          >
            <div
              class="icon-social d-flex gap-5 align-items-center justify-content-center"
            >
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
              <a href="#"><i class="fa-brands fa-telegram"></i></a>
            </div>
            <div class="list-footer">
              <ul class="list-group-footer">
                <li class="list-group-item"><a href="#">درباره ما</a></li>
                <li class="list-group-item"><a href="#">درباره ما</a></li>
                <li class="list-group-item"><a href="#">درباره ما</a></li>
                <li class="list-group-item"><a href="#">درباره ما</a></li>
              </ul>
            </div>
            <div class="phone">
              <a href="tel:03432611100">
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  style="margin-top: 10px; margin-right: 10px"
                >
                  <g clip-path="url(#clip0_1933_401)">
                    <path
                      d="M5.41667 4.33334H9.75L11.9167 9.75001L9.20833 11.375C10.3685 13.7275 12.2725 15.6315 14.625 16.7917L16.25 14.0833L21.6667 16.25V20.5833C21.6667 21.158 21.4384 21.7091 21.0321 22.1154C20.6257 22.5217 20.0746 22.75 19.5 22.75C15.2742 22.4932 11.2885 20.6987 8.2949 17.7051C5.3013 14.7115 3.5068 10.7258 3.25 6.50001C3.25 5.92537 3.47827 5.37427 3.8846 4.96795C4.29093 4.56162 4.84203 4.33334 5.41667 4.33334"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M16.25 7.58334C16.8246 7.58334 17.3757 7.81162 17.7821 8.21795C18.1884 8.62427 18.4167 9.17537 18.4167 9.75001"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M16.25 3.25C17.9739 3.25 19.6272 3.93482 20.8462 5.15381C22.0652 6.37279 22.75 8.02609 22.75 9.75"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_1933_401">
                      <rect width="26" height="26" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                <svg
                  class="bg-line"
                  width="118"
                  height="53"
                  viewBox="0 0 118 53"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    opacity="0.1"
                    d="M1.19458 0.539307C1.19458 0.539307 16 32.5 45 45C74 57.5 117.195 49.5393 117.195 49.5393"
                    stroke="white"
                  ></path>
                </svg>
                <p>03432611100</p></a
              >
            </div>
          </div>
          <div class="copyrights border-top border-1 w-75 py-2">
            <span>© 2023 کدک رایان</span>
          </div>
        </footer>
      </div>
    </div>
    <script src="./js/bootstrap.min.js"></script>
    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show-one");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".side-nav-btn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show-one")) {
              openDropdown.classList.remove("show-one");
            }
          }
        }
      };
    </script>
    <script>
      window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset;
        const sections = document.querySelectorAll("section");

        sections.forEach((section) => {
          if (
            section.offsetTop <= currentScroll &&
            section.offsetTop + section.offsetHeight > currentScroll
          ) {
            const currentId = section.getAttribute("id");
            document.querySelectorAll("navbar ").forEach((link) => {
              link.classList.remove("active-nav");
              if (link.getAttribute("href").includes(currentId)) {
                link.classList.add("active-nav");
              }
            });
          }
        });
      });
    </script>
    <script>
      window.addEventListener("scroll", function () {
        var element = document.getElementById("dynamic");
        if (window.scrollY > 50) {
          element.classList.add("tab-fixed");
        } else {
          element.classList.remove("tab-fixed");
        }
      });
    </script>
    <script>
      const list = document.querySelectorAll(".nav__item");
      list.forEach((item) => {
        item.addEventListener("click", () => {
          list.forEach((item) => item.classList.remove("active-toolbar"));
          item.classList.add("active-toolbar");
        });
      });
    </script>
    <script>
      document.querySelectorAll(".minus-btn").forEach(function (btn) {
        btn.addEventListener("click", function (e) {
          e.preventDefault();
          var input = this.closest("div").querySelector("input");
          var value = parseInt(input.value);

          if (value > 1) {
            value = value - 1;
          } else {
            value = 0;
          }

          input.value = value;
        });
      });

      document.querySelectorAll(".plus-btn").forEach(function (btn) {
        btn.addEventListener("click", function (e) {
          e.preventDefault();
          var input = this.closest("div").querySelector("input");
          var value = parseInt(input.value);

          if (value < 100) {
            value = value + 1;
          } else {
            value = 100;
          }

          input.value = value;
        });
      });
    </script>
  </body>
</html>
{% endblock content %}