{% extends "base-staff.html" %} {% load static %} {% block title %} دسته بندی ها
{% endblock title %} {% block content %}
<main class="contentM">
  <div class="container">
    <div class="col-lg-10 col-md-8 col-xs-12" style="margin: 0 auto">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-secondary mt-2" role="alert">{{ message }}</div>
      {% endfor %}{% endif %}
      <div class="d-block">
        <div class="profile-content">
          <div class="headline-profile">
            <span>دسته بندی ها</span>
          </div>

          <div class="profile-stats profile-table">
            <div class="table-orders">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">تصویر دسته بندی</th>
                    <th scope="col">نام دسته بندی</th>
                    <th scope="col">حذف</th>
                    <th scope="col">ویرایش</th>
                  </tr>
                </thead>
                {% for category in category %}
                <tbody>
                  <tr>
                    <td>{{ category.id }}</td>
                    <td class="order-code">
                      <img src="{{ category.image.url }}" />
                    </td>
                    <td>{{ category.category_name }}</td>
                    <td>
                      <a
                        href="{% url 'accounts:staff-category-delete' category.id %}"
                        class="btn-remove-address btn btn-danger text-light"
                      >
                        حذف
                      </a>
                    </td>
                    <td>
                      <a
                        href="{% url 'accounts:staff-category-update' category.id %}"
                        class="btn-remove-address btn btn-secondary text-light"
                      >
                        ویرایش
                      </a>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--       modal----------------------->
    <div
      class="modal fade"
      id="modalAddress"
      tabindex="-1"
      aria-labelledby="modalAddress"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAddress">ویرایش دسته بندی</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="middle-container">
              <form action="#" class="form-checkout">
                <div class="form-checkout-headline">افزودن دسته بندی</div>
                <div class="form-checkout-row">
                  <label for="name"
                    >نام دسته بندی
                    <span class="required-star" style="color: red"
                      >*</span
                    ></label
                  >
                  <input
                    type="text"
                    id="name"
                    class="input-name-checkout"
                    placeholder="نام دسته بندی را وارد کنید"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              بازگشت
            </button>
            <button type="button" class="btn btn-primary mr-2">
              ثبت دسته بندی
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
