{% extends "base-staff.html" %} {% load static %} {% block title %}ورود به پنل
کارکنان{% endblock title %} {% block content %}
<div id="main">
  <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-secondary mt-2" role="alert">{{ message }}</div>
    {% endfor %}{% endif %}

    <div class="account-box">
      <a href="index.html" class="logo-account"
        ><img src="{% static 'staff/images/logo-login.png' %}" alt="logo"
      /></a>
      <span class="account-head-line">ورود به پنل کارکنان</span>
      <div class="content-account">
        <form class="login-form" action="" method="post" novalidate>
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="dk-btn dk-btn-info text-center">
            ورود به پنل
            <i class="fa fa-sign-in sign-in"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
