{% extends "base-staff.html" %} {% load static %} {% block title %} سفارش جزئیات
{% endblock title %} {% block content %}
<main class="contentM">
  <div class="container">
    <div class="col-lg-3 col-md-4 col-xs-12 pull-right">
      <div class="sidebar-wrapper">
        <div class="box-sidebar">
          <div class="profile-box">
            <div class="profile-box-avator">
              <img
                src="{% static 'staff/images/svg/user-profile.svg' %}"
                alt="profile"
              />
            </div>

            <div class="profile-box-content">
              <span class="profile-box-nameuser"
                >{{request.user.full_name}}</span
              >
              <span class="profile-box-phone"
                >{{request.user.phone_number}}</span
              >
            </div>
          </div>
          <ul class="profile-menu-items">
            <li>
              <a
                href="{% url 'accounts:staff-profile' %}"
                class="profile-menu-url"
              >
                <span class="mdi mdi-account-outline"></span> پروفایل
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:staff-orders' %}" class="profile-menu-url">
                <span class="mdi mdi-basket"></span> همه سفارش ها
                <i class="fa-solid fa-chevron-left"></i>
              </a>
              <ul class="profile-menu-items-children">
                <li><a href="{% url 'accounts:staff-orders-complete' %}">سفارش های پرداخت شده</a></li>
                <li><a href="{% url 'accounts:staff-orders-uncomplete' %}">سفارش های پرداخت نشده</a></li>
              </ul>
            </li>
            <li>
              <a href="{% url 'accounts:staff-items' %}" class="profile-menu-url">
                <span><i class="fa-solid fa-bowl-food"></i></i></span> آیتم ها
                <i class="fa-solid fa-chevron-left"></i>
              </a>
              <ul class="profile-menu-items-children">
                <li><a href="{% url 'accounts:staff-add-item' %}">افزودن آیتم ها</a></li>
              </ul>
            </li>
            <li>
              <a href="{% url 'accounts:staff-categories' %}" class="profile-menu-url">
                <span><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                دسته بندی ها
                <i class="fa-solid fa-chevron-left"></i>
              </a>
              <ul class="profile-menu-items-children">
                <li><a href="{% url 'accounts:staff-add-category' %}">افزودن دسته بندی</a></li>
              </ul>
            </li>
            <li>
              <a
                href="{% url 'accounts:staff-personal-info' %}"
                class="profile-menu-url"
              >
                <span class="mdi mdi-account-circle"></span> اطلاعات شخصی
              </a>
            </li>
            <li>
              <a
                href="{% url 'accounts:staff-logout' %}"
                class="profile-menu-url"
              >
                <span class="mdi mdi-power"></span> خروج
              </a>
            </li>
          </ul>
        </div>
      </div>
   </div>
    <div class="col-lg-9 col-md-8 col-xs-12 pull-right">
      <div class="profile-navbar">
        <div class="profile-navbar-back-alignment">
          <a href="#" class="profile-navbar-btn-back">بازگشت</a>
          <h4>
            سفارش {{order.order_number}}
            <span>ثبت شده در تاریخ {{ order.created_at }}</span>
          </h4>
        </div>
        <div class="profile-navbar-invoice">
          <button id="buttondownloadinvoice" class="profile-navbar-btn-invoice">مشاهده فاکتور</button>
          <a href="{% url 'accounts:staff-change-order' order.id %}"><button class="profile-navbar-btn-invoice" style="background-color: #767676;color: #fff;">ویرایش سفارش</button></a>
        </div>
      </div>
      <div id="invoicebody" class="profile-stats mt-3">
        <div class="profile-stats-row">
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              <p><span> نام و نام خانوادگی :</span>{{order.customer_name}}</p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              <p>
                <span>شماره تماس تحویل گیرنده: </span>{{order.phone_number}}
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              <p>
                <span>آیتم‌های سفارش:</span>
                {% for food_item in order.order_detail.food_items %}
                {{ food_item.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              <p>
                <span>تعداد آیتم های سفارش:</span>
                {% for food_item in order.order_detail.food_items %}
                ({{food_item.quantity }} عدد){% endfor %}
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              <p>
                <span>مجموع آیتم ها:</span
                >{{order.order_detail.details_items.0.total_item}} آیتم
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              <p>
                <span>مبلغ قابل پرداخت:</span>
                {{ order.final_price }}
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              {% if order.staff_id %}
              <p><span>شماره کارمند</span>{{order.staff_id}}</p>
              {% else %}
              <p><span>شماره کارمند</span>شماره کارمند هنوز ثبت نشده</p>
              {% endif %}
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-12 pull-right"
            style="padding: 0"
          >
            <div class="profile-stats-col">
              {% if order.order_status %}
              <p><span>وضعیت سفارش :</span>پرداخت شده</p>
              {% else %}
              <p><span>وضعیت سفارش :</span>پرداخت نشده</p>
              {% endif %}
            </div>
          </div>
          <div
          class="col-lg-6 col-md-6 col-xs-12 pull-right"
          style="padding: 0"
        >
          <div class="profile-stats-col">
            <p><span>شماره میز :</span>{{order.table_number}}</p>
          </div>
        </div>
        <div
        class="col-lg-6 col-md-6 col-xs-12 pull-right"
        style="padding: 0"
      >
        <div class="profile-stats-col">
          {% if order.description %}
          <p><span>توضیحات :</span>{{order.description}}</p>
          {% else %}
          <p><span>توضیحات :</span>توضیحاتی ندارد</p>
          {% endif %}
        </div>
      </div>
      <div
      class="col-lg-6 col-md-6 col-xs-12 pull-right"
      style="padding: 0"
    >
      <div class="profile-stats-col">
        <p><span> تاریخ ثبت سفارش:</span>{{ order.created_at }}</p>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
