{% extends "base-staff.html" %} {% load static %} {% block title %} پنل
کارکنان{% endblock title %} {% block content %}
<main class="contentM">
  <div class="container">
    <div class="col-lg-10 col-md-9 col-xs-12" style="margin: 0 auto">
      <div class="col-lg-12 col-xs-12 pull-right">
        <div class="profile-navbar">
          <div class="profile-navbar-back-alignment">
            <a
              href="{% url 'accounts:staff-orders' %}"
              class="profile-navbar-btn-back"
              >بازگشت</a
            >
            <h4 class="edit-personal">ایجاد کاربر</h4>
          </div>
        </div>
        <div class="profile-stats">
          <div class="form-legal-row">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-secondary mt-2" role="alert">
              {{ message }}
            </div>
            {% endfor %}{% endif %}
            <div class="col-lg-6 col-xs-12 mx-auto">
              <div class="form-legal-col">
                <form class="update-item-form" method="post" novalidate>
                  {% csrf_token %} {{ form}}
                  <input
                    class="dk-btn dk-btn-info text-center w-100"
                    type="submit"
                    value="ذخیره"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
